DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_DATABASENAME=
JWT_SECRETKEY=
REACT_APP_AWS_ACCESS_KEY_ID=
REACT_APP_AWS_SECRET_ACCESS_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=
KAKAO_CLIENT_ID=
KAKAO_REDIRECT_URI=